/* .Container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 0px;
    margin: 5px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
} */
.container{
   
}

.is-invalid{
    border: 2px solid green !important;
}

.Login-form{
    width: 900px;
    margin: auto;
}
.passwordGuide {
    display: none;
    border: 1px solid green;
}
 
 .passwordGuide ul li{
     list-style-type: none;
     color: rgb(194, 72, 27);
 }

 .modalColor{
     background: #C4DDFF !important;
 }

  .add_box_shadow{
   
     box-shadow:  0px 0px 2px 5px #001D6E;
     border-radius: 0px;
 }


